<h1 class='h1 text-center'>Reserve Ticket</h1>
<div class='row'>
<div class='col-md-6 col-md-offset-3'>
<% @tickets.each do |t| %>
    Ticket Type: <span class='h3 text-danger'> <%= t.ticket_type %></span>
    Quantity: <span class='h3 text-danger'> <%= t.quantity==0 ? 'Unavailable' : t.quantity %></span>
    <br/>
<% end %>

<%= form_for @reservation do |f|  %>
<%= render 'shared/errors' , object: f.object %>

    <select name="reservation[ticket_id]"  required="required">
     <option value="" >Please select</option>
        <% @tickets.each_with_index do |t| %>
            <option value="<%= t.id %>"><%= t.ticket_type %></option>
         <% end %>
    </select> <br/>
    <select name="reservation[reservation_type]"  required="required">
        <option value="">Please select</option>
        <option value="1" selected="selected">Multiple</option>
        <option value="2">All together</option>
        <option value="3">Avoid One</option>
    </select><br/>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control", required: true %>
    <br/>
    <%= hidden_field_tag 'reservation[event_id]', params[:reservation][:event_id] %>
    <%= f.submit "Purchase", class: "btn btn-primary" %>
<% end %>
</div>
</div>